## 급성심정지환자
- 데이터 
    - ohca_18xlsx.XLS(질병관리청, 급성심정지 2018년도 데이터)
    - ohca_19.xlsx(질병관리청, 급성심정지 2019년도 데이터)
    - ohca_20.xlsx(질병관리청, 급성심정지 2020년도 데이터)
    - 서울시_구별_급성심정지환자(발생지기준).csv
        - 발생지기준 : (환자발생장소_시도를 '서울'로 전처리하고 환자발생장소_시군구가 '소재지'인 데이터)

In [ ]:
# YEAR: 급성심장정지 발생 연도
# P_ADD_CITY : 환작거주지_시도
# P_ADD_DIST: 환자거주지_시군구
# H_SEX: 성별
    # 1. 남자
    # 2. 여자
# AGE: 연령(만 나이)
# F_HAPP_ADD_CITY : 환자발생장소_시도
# F_HAPP_ADD_DIST: 환자 발생장소_시군구
# BYSTANDER_CPR_ELSE : 일반인 심폐소생술 시행종류 
    # 1. 심폐소생술(CPR)
    # 2. 자동심장충격기(AED)
    # 3. CPR+AED
# H_PLACE_PUBLIC : 급성심장정지 발생 장소
    # 1. 공공장소
    # 2. 비공공장소
    # 3. 기타
    # 4. 미상

## 발생지 기준

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 2018년도/2019년도/2020년도 급성심정지환자 데이터 불러오기 
arrest_18 = pd.read_excel("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\ohca_18xlsx.XLS")
arrest_19 = pd.read_excel("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\ohca_19.xlsx")
arrest_20 = pd.read_excel("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\ohca_20.xlsx")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [4]:
# 필요한 컬럼만 추출 
arrest_18_df = arrest_18[['YEAR', 'P_ADD_CITY','P_ADD_DIST','H_SEX', 'AGE', 'F_HAPP_ADD_CITY', 'F_HAPP_ADD_DIST', 'BYSTANDER_CPR_ELSE','H_PLACE_PUBLIC']]
arrest_19_df = arrest_19[['YEAR', 'P_ADD_CITY','P_ADD_DIST','H_SEX', 'AGE', 'F_HAPP_ADD_CITY', 'F_HAPP_ADD_DIST', 'BYSTANDER_CPR_ELSE','H_PLACE_PUBLIC']]
arrest_20_df = arrest_20[['YEAR', 'P_ADD_CITY','P_ADD_DIST','H_SEX', 'AGE', 'F_HAPP_ADD_CITY', 'F_HAPP_ADD_DIST', 'BYSTANDER_CPR_ELSE','H_PLACE_PUBLIC']]

In [5]:
arrest_df = pd.concat([arrest_18_df, arrest_19_df, arrest_20_df])

In [6]:
arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC
0,2018,서울,용산구,2,83,서울,용산구,NaN,2
1,2018,서울,중구,2,67,서울,중구,NaN,2
2,2018,서울,노원구,1,46,서울,중구,NaN,1
3,2018,서울,동작구,1,91,서울,동작구,1.0,2
4,2018,서울,동작구,2,61,서울,동작구,1.0,2
...,...,...,...,...,...,...,...,...,...
31412,2020,세종,세종시,1,96,세종,세종특별자치시,NaN,9
31413,2020,세종,세종시,2,42,세종,세종특별자치시,NaN,2
31414,2020,충북,청주시 청원구,1,61,세종,세종특별자치시,NaN,2
31415,2020,세종,세종시,1,87,세종,세종특별자치시,NaN,1
31416,2020,세종,세종시,1,91,세종,세종특별자치시,NaN,2

In [7]:
seoulgu_arrest_df = arrest_df[(arrest_df['P_ADD_CITY']=='서울')].reset_index()
seoulgu_arrest_df

,index,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC
0,0,2018,서울,용산구,2,83,서울,용산구,NaN,2
1,1,2018,서울,중구,2,67,서울,중구,NaN,2
2,2,2018,서울,노원구,1,46,서울,중구,NaN,1
3,3,2018,서울,동작구,1,91,서울,동작구,1.0,2
4,4,2018,서울,동작구,2,61,서울,동작구,1.0,2
...,...,...,...,...,...,...,...,...,...,...
13607,31191,2020,서울,송파구,1,80,제주,제주시,NaN,2
13608,31206,2020,서울,영등포구,1,28,제주,제주시,NaN,8
13609,31280,2020,서울,강동구,2,59,제주,서귀포시,1.0,1
13610,31323,2020,서울,영등포구,1,71,세종,세종특별자치시,NaN,1
13611,31357,2020,서울,마포구,2,79,세종,세종특별자치시,NaN,2

In [8]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['index'],axis='columns')
seoulgu_arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC
0,2018,서울,용산구,2,83,서울,용산구,NaN,2
1,2018,서울,중구,2,67,서울,중구,NaN,2
2,2018,서울,노원구,1,46,서울,중구,NaN,1
3,2018,서울,동작구,1,91,서울,동작구,1.0,2
4,2018,서울,동작구,2,61,서울,동작구,1.0,2
...,...,...,...,...,...,...,...,...,...
13607,2020,서울,송파구,1,80,제주,제주시,NaN,2
13608,2020,서울,영등포구,1,28,제주,제주시,NaN,8
13609,2020,서울,강동구,2,59,제주,서귀포시,1.0,1
13610,2020,서울,영등포구,1,71,세종,세종특별자치시,NaN,1
13611,2020,서울,마포구,2,79,세종,세종특별자치시,NaN,2

In [9]:
seoulgu_arrest_df["성별"] = [
    "남성" if x == 1 else
    "여성" for x in seoulgu_arrest_df.H_SEX]

In [10]:
seoulgu_arrest_df["연령대"] = [
    "소아청소년" if x < 19 else
    "청년" if x <= 29 else 
    "중년" if x <= 49 else 
    "장년" if x <= 64 else 
    "노년" for x in seoulgu_arrest_df.AGE
]

In [11]:
seoulgu_arrest_df["시행종류"] = [
    "CPR" if x == 1.0 else
    "AED" if x == 2.0 else 
    "CPR+AED" if x == 3.0 else 
    "NO" for x in seoulgu_arrest_df.BYSTANDER_CPR_ELSE]
# 1. 심폐소생술(CPR)
# 2. 자동심장충격기(AED)
# 3. CPR+AED

In [12]:
seoulgu_arrest_df["발생장소"] = [
    "공공장소" if x == 1.0 else
    "비공공장소" if x == 2.0 else 
    "기타" if x == 3.0 else 
    "미상" for x in seoulgu_arrest_df.H_PLACE_PUBLIC]
# 1. 공공장소
# 2. 비공공장소
# 3. 기타
# 4. 미상

In [13]:
seoulgu_arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC,성별,연령대,시행종류,발생장소
0,2018,서울,용산구,2,83,서울,용산구,NaN,2,여성,노년,NO,비공공장소
1,2018,서울,중구,2,67,서울,중구,NaN,2,여성,노년,NO,비공공장소
2,2018,서울,노원구,1,46,서울,중구,NaN,1,남성,중년,NO,공공장소
3,2018,서울,동작구,1,91,서울,동작구,1.0,2,남성,노년,CPR,비공공장소
4,2018,서울,동작구,2,61,서울,동작구,1.0,2,여성,장년,CPR,비공공장소
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13607,2020,서울,송파구,1,80,제주,제주시,NaN,2,남성,노년,NO,비공공장소
13608,2020,서울,영등포구,1,28,제주,제주시,NaN,8,남성,청년,NO,미상
13609,2020,서울,강동구,2,59,제주,서귀포시,1.0,1,여성,장년,CPR,공공장소
13610,2020,서울,영등포구,1,71,세종,세종특별자치시,NaN,1,남성,노년,NO,공공장소
13611,2020,서울,마포구,2,79,세종,세종특별자치시,NaN,2,여성,노년,NO,비공공장소

In [14]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['H_SEX'],axis='columns')

In [15]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['BYSTANDER_CPR_ELSE'],axis='columns')

In [16]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['H_PLACE_PUBLIC'],axis='columns')

In [17]:
seoulgu_arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,성별,연령대,시행종류,발생장소
0,2018,서울,용산구,83,서울,용산구,여성,노년,NO,비공공장소
1,2018,서울,중구,67,서울,중구,여성,노년,NO,비공공장소
2,2018,서울,노원구,46,서울,중구,남성,중년,NO,공공장소
3,2018,서울,동작구,91,서울,동작구,남성,노년,CPR,비공공장소
4,2018,서울,동작구,61,서울,동작구,여성,장년,CPR,비공공장소
...,...,...,...,...,...,...,...,...,...,...
13607,2020,서울,송파구,80,제주,제주시,남성,노년,NO,비공공장소
13608,2020,서울,영등포구,28,제주,제주시,남성,청년,NO,미상
13609,2020,서울,강동구,59,제주,서귀포시,여성,장년,CPR,공공장소
13610,2020,서울,영등포구,71,세종,세종특별자치시,남성,노년,NO,공공장소
13611,2020,서울,마포구,79,세종,세종특별자치시,여성,노년,NO,비공공장소

In [18]:
# YEAR: 급성심장정지 발생 연도
# P_ADD_CITY : 환작거주지_시도
# P_ADD_DIST: 환자거주지_시군구
# H_SEX: 성별
    # 1. 남자
    # 2. 여자
# AGE: 연령(만 나이)
# F_HAPP_ADD_CITY : 환자발생장소_시도
# F_HAPP_ADD_DIST: 환자 발생장소_시군구
# BYSTANDER_CPR_ELSE : 일반인 심폐소생술 시행종류 
    # 1. 심폐소생술(CPR)
    # 2. 자동심장충격기(AED)
    # 3. CPR+AED
# H_PLACE_PUBLIC : 급성심장정지 발생 장소
    # 1. 공공장소
    # 2. 비공공장소
    # 3. 기타
    # 4. 미상

In [19]:
seoulgu_arrest_df.rename(columns={"YEAR": "발생년도",
                                    "P_ADD_CITY" : "환자거주지_시도",
                                    "P_ADD_DIST" : "소재지",
                                   "AGE": "연령(만)",
                                  "F_HAPP_ADD_CITY" : "환자발생장소_시도",
                                  "F_HAPP_ADD_DIST" : "환자발생장소_시군구"}, inplace=True)

In [20]:
seoulgu_arrest_df

       발생년도 환자거주지_시도   소재지  연령(만) 환자발생장소_시도 환자발생장소_시군구  성별 연령대 시행종류   발생장소
0      2018       서울   용산구     83        서울        용산구  여성  노년   NO  비공공장소
1      2018       서울    중구     67        서울         중구  여성  노년   NO  비공공장소
2      2018       서울   노원구     46        서울         중구  남성  중년   NO   공공장소
3      2018       서울   동작구     91        서울        동작구  남성  노년  CPR  비공공장소
4      2018       서울   동작구     61        서울        동작구  여성  장년  CPR  비공공장소
...     ...      ...   ...    ...       ...        ...  ..  ..  ...    ...
13607  2020       서울   송파구     80        제주        제주시  남성  노년   NO  비공공장소
13608  2020       서울  영등포구     28        제주        제주시  남성  청년   NO     미상
13609  2020       서울   강동구     59        제주       서귀포시  여성  장년  CPR   공공장소
13610  2020       서울  영등포구     71        세종    세종특별자치시  남성  노년   NO   공공장소
13611  2020       서울   마포구     79        세종    세종특별자치시  여성  노년   NO  비공공장소

[13612 rows x 10 columns]

In [21]:
seoulgu_arrest_df = seoulgu_arrest_df[["발생년도", "환자거주지_시도", "소재지","성별","연령(만)","연령대","환자발생장소_시도","환자발생장소_시군구","발생장소","시행종류"]]

In [22]:
seoulgu_arrest_df

       발생년도 환자거주지_시도   소재지  성별  연령(만) 연령대 환자발생장소_시도 환자발생장소_시군구   발생장소 시행종류
0      2018       서울   용산구  여성     83  노년        서울        용산구  비공공장소   NO
1      2018       서울    중구  여성     67  노년        서울         중구  비공공장소   NO
2      2018       서울   노원구  남성     46  중년        서울         중구   공공장소   NO
3      2018       서울   동작구  남성     91  노년        서울        동작구  비공공장소  CPR
4      2018       서울   동작구  여성     61  장년        서울        동작구  비공공장소  CPR
...     ...      ...   ...  ..    ...  ..       ...        ...    ...  ...
13607  2020       서울   송파구  남성     80  노년        제주        제주시  비공공장소   NO
13608  2020       서울  영등포구  남성     28  청년        제주        제주시     미상   NO
13609  2020       서울   강동구  여성     59  장년        제주       서귀포시   공공장소  CPR
13610  2020       서울  영등포구  남성     71  노년        세종    세종특별자치시   공공장소   NO
13611  2020       서울   마포구  여성     79  노년        세종    세종특별자치시  비공공장소   NO

[13612 rows x 10 columns]

In [23]:
# 저장 후 주석처리
# seoulgu_arrest_df.to_csv("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\서울시_구별_급성심정지환자(거주지기준).csv")

## 발생지 기준

In [25]:
# 2018년도/2019년도/2020년도 급성심정지환자 데이터 불러오기 
arrest_18 = pd.read_excel("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\ohca_18xlsx.XLS")
arrest_19 = pd.read_excel("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\ohca_19.xlsx")
arrest_20 = pd.read_excel("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\ohca_20.xlsx")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [27]:
# 필요한 컬럼만 추출 
arrest_18_df = arrest_18[['YEAR', 'P_ADD_CITY','P_ADD_DIST','H_SEX', 'AGE', 'F_HAPP_ADD_CITY', 'F_HAPP_ADD_DIST', 'BYSTANDER_CPR_ELSE','H_PLACE_PUBLIC']]
arrest_19_df = arrest_19[['YEAR', 'P_ADD_CITY','P_ADD_DIST','H_SEX', 'AGE', 'F_HAPP_ADD_CITY', 'F_HAPP_ADD_DIST', 'BYSTANDER_CPR_ELSE','H_PLACE_PUBLIC']]
arrest_20_df = arrest_20[['YEAR', 'P_ADD_CITY','P_ADD_DIST','H_SEX', 'AGE', 'F_HAPP_ADD_CITY', 'F_HAPP_ADD_DIST', 'BYSTANDER_CPR_ELSE','H_PLACE_PUBLIC']]

In [28]:
arrest_df = pd.concat([arrest_18_df, arrest_19_df, arrest_20_df])

In [29]:
arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC
0,2018,서울,용산구,2,83,서울,용산구,NaN,2
1,2018,서울,중구,2,67,서울,중구,NaN,2
2,2018,서울,노원구,1,46,서울,중구,NaN,1
3,2018,서울,동작구,1,91,서울,동작구,1.0,2
4,2018,서울,동작구,2,61,서울,동작구,1.0,2
...,...,...,...,...,...,...,...,...,...
31412,2020,세종,세종시,1,96,세종,세종특별자치시,NaN,9
31413,2020,세종,세종시,2,42,세종,세종특별자치시,NaN,2
31414,2020,충북,청주시 청원구,1,61,세종,세종특별자치시,NaN,2
31415,2020,세종,세종시,1,87,세종,세종특별자치시,NaN,1
31416,2020,세종,세종시,1,91,세종,세종특별자치시,NaN,2

In [30]:
seoulgu_arrest_df = arrest_df[(arrest_df['F_HAPP_ADD_CITY']=='서울')].reset_index()
seoulgu_arrest_df

,index,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC
0,0,2018,서울,용산구,2,83,서울,용산구,NaN,2
1,1,2018,서울,중구,2,67,서울,중구,NaN,2
2,2,2018,서울,노원구,1,46,서울,중구,NaN,1
3,3,2018,서울,동작구,1,91,서울,동작구,1.0,2
4,4,2018,서울,동작구,2,61,서울,동작구,1.0,2
...,...,...,...,...,...,...,...,...,...,...
13408,4354,2020,서울,성동구,1,79,서울,성동구,NaN,9
13409,4355,2020,경기,수원시 장안구,1,37,서울,성동구,NaN,8
13410,4356,2020,서울,성동구,1,67,서울,성동구,NaN,2
13411,4357,2020,서울,성동구,2,68,서울,성동구,NaN,8
13412,4358,2020,서울,금천구,2,92,서울,금천구,NaN,9

In [31]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['index'],axis='columns')
seoulgu_arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC
0,2018,서울,용산구,2,83,서울,용산구,NaN,2
1,2018,서울,중구,2,67,서울,중구,NaN,2
2,2018,서울,노원구,1,46,서울,중구,NaN,1
3,2018,서울,동작구,1,91,서울,동작구,1.0,2
4,2018,서울,동작구,2,61,서울,동작구,1.0,2
...,...,...,...,...,...,...,...,...,...
13408,2020,서울,성동구,1,79,서울,성동구,NaN,9
13409,2020,경기,수원시 장안구,1,37,서울,성동구,NaN,8
13410,2020,서울,성동구,1,67,서울,성동구,NaN,2
13411,2020,서울,성동구,2,68,서울,성동구,NaN,8
13412,2020,서울,금천구,2,92,서울,금천구,NaN,9

In [32]:
seoulgu_arrest_df["성별"] = [
    "남성" if x == 1 else
    "여성" for x in seoulgu_arrest_df.H_SEX]

In [33]:
seoulgu_arrest_df["연령대"] = [
    "소아청소년" if x < 19 else
    "청년" if x <= 29 else 
    "중년" if x <= 49 else 
    "장년" if x <= 64 else 
    "노년" for x in seoulgu_arrest_df.AGE
]

In [34]:
seoulgu_arrest_df["시행종류"] = [
    "CPR" if x == 1.0 else
    "AED" if x == 2.0 else 
    "CPR+AED" if x == 3.0 else 
    "NO" for x in seoulgu_arrest_df.BYSTANDER_CPR_ELSE]
# 1. 심폐소생술(CPR)
# 2. 자동심장충격기(AED)
# 3. CPR+AED

In [35]:
seoulgu_arrest_df["발생장소"] = [
    "공공장소" if x == 1.0 else
    "비공공장소" if x == 2.0 else 
    "기타" if x == 3.0 else 
    "미상" for x in seoulgu_arrest_df.H_PLACE_PUBLIC]
# 1. 공공장소
# 2. 비공공장소
# 3. 기타
# 4. 미상

In [36]:
seoulgu_arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,H_SEX,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,BYSTANDER_CPR_ELSE,H_PLACE_PUBLIC,성별,연령대,시행종류,발생장소
0,2018,서울,용산구,2,83,서울,용산구,NaN,2,여성,노년,NO,비공공장소
1,2018,서울,중구,2,67,서울,중구,NaN,2,여성,노년,NO,비공공장소
2,2018,서울,노원구,1,46,서울,중구,NaN,1,남성,중년,NO,공공장소
3,2018,서울,동작구,1,91,서울,동작구,1.0,2,남성,노년,CPR,비공공장소
4,2018,서울,동작구,2,61,서울,동작구,1.0,2,여성,장년,CPR,비공공장소
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13408,2020,서울,성동구,1,79,서울,성동구,NaN,9,남성,노년,NO,미상
13409,2020,경기,수원시 장안구,1,37,서울,성동구,NaN,8,남성,중년,NO,미상
13410,2020,서울,성동구,1,67,서울,성동구,NaN,2,남성,노년,NO,비공공장소
13411,2020,서울,성동구,2,68,서울,성동구,NaN,8,여성,노년,NO,미상
13412,2020,서울,금천구,2,92,서울,금천구,NaN,9,여성,노년,NO,미상

In [37]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['H_SEX'],axis='columns')

In [38]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['BYSTANDER_CPR_ELSE'],axis='columns')

In [39]:
seoulgu_arrest_df = seoulgu_arrest_df.drop(['H_PLACE_PUBLIC'],axis='columns')

In [40]:
seoulgu_arrest_df

,YEAR,P_ADD_CITY,P_ADD_DIST,AGE,F_HAPP_ADD_CITY,F_HAPP_ADD_DIST,성별,연령대,시행종류,발생장소
0,2018,서울,용산구,83,서울,용산구,여성,노년,NO,비공공장소
1,2018,서울,중구,67,서울,중구,여성,노년,NO,비공공장소
2,2018,서울,노원구,46,서울,중구,남성,중년,NO,공공장소
3,2018,서울,동작구,91,서울,동작구,남성,노년,CPR,비공공장소
4,2018,서울,동작구,61,서울,동작구,여성,장년,CPR,비공공장소
...,...,...,...,...,...,...,...,...,...,...
13408,2020,서울,성동구,79,서울,성동구,남성,노년,NO,미상
13409,2020,경기,수원시 장안구,37,서울,성동구,남성,중년,NO,미상
13410,2020,서울,성동구,67,서울,성동구,남성,노년,NO,비공공장소
13411,2020,서울,성동구,68,서울,성동구,여성,노년,NO,미상
13412,2020,서울,금천구,92,서울,금천구,여성,노년,NO,미상

In [41]:
seoulgu_arrest_df.rename(columns={"YEAR": "발생년도",
                                    "P_ADD_CITY" : "환자거주지_시도",
                                    "P_ADD_DIST" : "환자거주지_시군구",
                                   "AGE": "연령(만)",
                                  "F_HAPP_ADD_CITY" : "환자발생장소_시도",
                                  "F_HAPP_ADD_DIST" : "소재지"}, inplace=True)

In [42]:
seoulgu_arrest_df

       발생년도 환자거주지_시도 환자거주지_시군구  연령(만) 환자발생장소_시도  소재지  성별 연령대 시행종류   발생장소
0      2018       서울       용산구     83        서울  용산구  여성  노년   NO  비공공장소
1      2018       서울        중구     67        서울   중구  여성  노년   NO  비공공장소
2      2018       서울       노원구     46        서울   중구  남성  중년   NO   공공장소
3      2018       서울       동작구     91        서울  동작구  남성  노년  CPR  비공공장소
4      2018       서울       동작구     61        서울  동작구  여성  장년  CPR  비공공장소
...     ...      ...       ...    ...       ...  ...  ..  ..  ...    ...
13408  2020       서울       성동구     79        서울  성동구  남성  노년   NO     미상
13409  2020       경기   수원시 장안구     37        서울  성동구  남성  중년   NO     미상
13410  2020       서울       성동구     67        서울  성동구  남성  노년   NO  비공공장소
13411  2020       서울       성동구     68        서울  성동구  여성  노년   NO     미상
13412  2020       서울       금천구     92        서울  금천구  여성  노년   NO     미상

[13413 rows x 10 columns]

In [43]:
seoulgu_arrest_df = seoulgu_arrest_df[["발생년도", "환자발생장소_시도","소재지","성별","연령(만)","연령대","환자거주지_시도", "환자거주지_시군구","발생장소","시행종류"]]

In [44]:
seoulgu_arrest_df

       발생년도 환자발생장소_시도  소재지  성별  연령(만) 연령대 환자거주지_시도 환자거주지_시군구   발생장소 시행종류
0      2018        서울  용산구  여성     83  노년       서울       용산구  비공공장소   NO
1      2018        서울   중구  여성     67  노년       서울        중구  비공공장소   NO
2      2018        서울   중구  남성     46  중년       서울       노원구   공공장소   NO
3      2018        서울  동작구  남성     91  노년       서울       동작구  비공공장소  CPR
4      2018        서울  동작구  여성     61  장년       서울       동작구  비공공장소  CPR
...     ...       ...  ...  ..    ...  ..      ...       ...    ...  ...
13408  2020        서울  성동구  남성     79  노년       서울       성동구     미상   NO
13409  2020        서울  성동구  남성     37  중년       경기   수원시 장안구     미상   NO
13410  2020        서울  성동구  남성     67  노년       서울       성동구  비공공장소   NO
13411  2020        서울  성동구  여성     68  노년       서울       성동구     미상   NO
13412  2020        서울  금천구  여성     92  노년       서울       금천구     미상   NO

[13413 rows x 10 columns]

In [ ]:
# 저장 후 주석처리
# seoulgu_arrest_df.to_csv("D:\MultiCampus\DATAexam\전공프로젝트\BigDataProject-AED-main\data\서울시_구별_급성심정지환자(발생지기준).csv")